.search-result {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    z-index: 9999;
    width: 422px;
    max-height: 400px;
    overflow: auto;
    margin: 0 auto;
    border-radius: 16px;

    &__list {
        background-color: var(--white);
    }

    &__img {
        width: 70px;
        margin-right: 15px;
    }

    &__link {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        border-bottom: 1px solid #ddd;
        padding: 10px 20px;

        &:last-child {
            border-bottom: none;
        }
    }

    &__name {
        width: 100%;
        color: #191919;
        font-size: 15px;
        font-weight: bold;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - 85px);
    }

    &__price {
        color: #f00;
        font-weight: bold;
        font-size: 13px;
    }
}

.search-sp {
    display: none;
}

@media screen and (min-width: 1024px) {
    .header {
        background: var(--gray);
        padding: 10px 0;
        margin-bottom: 30px;

        .header-inner {
            display: flex;
            align-items: center;
        }

        .logo {
            margin-right: 20px;

            >a {
                display: block;
            }
        }

        .search {
            position: relative;
            left: 0;
        }

        .search-form {
            width: 450px;
            padding: 6px 14px;
            position: relative;

            .text-input {
                background: #fff;
                padding: 8px 20px;
                border-radius: 8px;
                width: 100%;
                outline: none;
            }

            .search-icon {
                position: absolute;
                line-height: 1;
                margin: 0;
                padding: 0;

                .fa-search {
                    position: absolute;
                    top: 6px;
                    right: 12px;
                    font-size: 18px;
                }
            }
        }

        ul.header-right {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                flex: 1 1 auto;
                margin: 0 7px;

                .call {
                    padding: 5px 0;
                    display: flex;
                    align-items: center;
                }

                .call-phone {
                    display: block;
                }

                .call-text {
                    display: block;
                }

                .hotline {
                    display: block;
                }

                a {
                    color: #d2d2d7;

                    .svg-inline--fa {
                        margin-right: 10px;
                        font-size: 25px;
                        vertical-align: middle;
                    }
                }
            }

            .phone-icon {
                display: block;
                float: left;
                padding: 10px 0;

                .fa-phone {
                    color: #d2d2d7;
                }
            }
        }
    }

    .menu-inner {
        background: var(--gray);
    }

    .menu {
        &__list {
            display: flex;
            border-radius: 10px;
        }

        &__item {
            >a {
                display: block;
                color: #d2d2d7;
                padding: 20px;

                &:hover {
                    background-color: #3f3f3f;
                }
            }
        }
    }

    .header-sp {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        display: none;
    }

    .header-sp {
        display: block;
    }

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: var(--gray);
        padding: 15px 10px 15px 15px;
    }

    .btn-hamberger {
        position: relative;
        display: block;
        width: 25px;
        height: 3px;
        background-color: var(--white);

        &:after,
        &:before {
            display: block;
            content: '';
            position: absolute;
            width: 25px;
            height: 3px;
            background-color: var(--white);
        }

        &:after {
            top: 14px;

        }

        &:before {
            top: 7px;
        }
    }

    .logo-sp {
        >a {
            display: block;
        }

        img {
            display: block;
            max-width: 200px;
            width: 100%;
            max-height: 25px;
            object-fit: cover;
        }
    }

    .cart {
        .fa-shopping-cart {
            font-size: 20px;
            color: var(--white);
        }
    }

    .search-sp {
        display: block;
        margin: 10px 0;
    }

    .search-form {
        position: relative;
        text-align: center;
    }

    .text-input {
        display: flex;
        justify-content: center;
        width: calc(100% - 12px);
        padding: 12px 10px 10px 12px;
        margin: 0 auto;
        border: none;
        outline: none;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 4px 6px #ccc;
        font-weight: bold;
        flex-basis: 100%;
        font-size: 13px;
    }

    .search-icon {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        .fa-search {
            font-size: 18px;
        }
    }

    .menu {
        &__list {
            display: flex;
            padding: 15px;
            background-color: var(--white);
        }

        &__item {
            display: flex;
            flex-grow: 1;
        }

        &__link {
            display: inline-block;
            font-size: 12px;
            color: #1D1D1F;
        }
    }

    .hamberger {
        display: block;
    }

    .menu-hamberger {
        &__wrap {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
            width: 100%;
            height: 100vh;
            padding: 66px 20px 0px 20px;
            background-color: #F5F5F7;
            color: #333;
        }

        &__list {
            width: 100%;
            margin-bottom: 20px;
        }

        &__item {
            width: 100%;
            padding: 16px 0px 16px 0px;
            border-bottom: 1px solid #D2D2D7;

            >a {
                display: block;
                color: #333;
            }
        }

        &__contact {
            width: 100%;
            flex-shrink: 0;
        }

        &__contact-title {
            margin-bottom: 30px;
        }

        &__contact-list {
            margin-left: 20px;
        }

        &__contact-item {
            margin-bottom: 20px;
        }

        &__close {
            position: absolute;
            top: 20px;
            right: 40px;

            &:after,
            &:before {
                position: absolute;
                display: block;
                content: '';
                width: 20px;
                height: 2px;
                background: #54595f;
                z-index: 9999;
            }

            &:after {
                transform: rotate(-45deg);
            }

            &:before {
                transform: rotate(45deg);
            }
        }
    }

    .search-result {
        width: 100%;
        padding: 0 12px;
    }
}